html{
    max-width: 100%;
}

@media  (max-width: 768px) {
    *{ max-width: 100%; }
    
}

main .menu{
    width: 20%;
}
main{
    margin-bottom: 0;

}
.groupmates{
    display: grid;
    margin: auto;
    margin-top: 0;
    align-items: center;
    justify-items: center;
}

h1{
    align-self: center;
    margin-bottom: 3vh;
    color: #464343;
}

#search input{
    height: 4vh;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: all 300ms ;
    padding: 1vh;
    font-size: 20px;
    background: rgb(239, 239, 239);
}

#mates{
    width: 80%;
}



.groupmates li:hover {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
        color: blueviolet;     
    }
  }

#mates ul li {
    display: none;
}

#mates ul li[data-active]{
    width: 20%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#mates ul{
    display: flex;
    list-style-type: none;
    gap: 4vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 0;
}


#mates img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
@media  (max-width: 768px) {
    *{ max-width: 100%; }
    #mates img {
        width: auto;
        height: auto;
    }
}

#mates ul li a{
    display: grid;
    justify-items: center;
    align-items: center;
    margin-right: 60%;
}

legend{
    color: #0000008C;
    opacity: 0.55;
    justify-self: start;
    font-size: 2em;
    margin-left: -10%;
}

#mates button {
    opacity: 0.4;
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    cursor: pointer;
}

#next {
    position: absolute;
    transform: scale(3);
    left: 78%;
    bottom: 33.5%;
}

#prev {
    position: absolute;
    transform: scale(3);
    left: 45%;
    bottom: 35%;
}
