html{
    max-width: 100%;
}

@media  (max-width: 768px) {
    *{ max-width: 100%; }
    
}

main .menu{
    width: 20%;
}
main{
    margin-bottom: 0;

}
.groupmates{
    display: grid;
    margin: auto;
    margin-top: 0;
    align-items: center;
    justify-items: center;
}

h1{
    align-self: center;
    margin-bottom: 3vh;
    color: #464343;
}

#search input{
    width: 50vw;
    height: 4vh;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: all 300ms ;
    padding: 1vh;
    font-size: 20px;
    background: rgb(239, 239, 239);
}

#mates{
    width: 100%;
    display: grid;
    gap: 5%;
}



.groupmates li:hover {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
        color: blueviolet;     
    }
  }

#mates ul li {
    display: none;
}

#mates ul li[data-active]{
    width: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#mates ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 0;
}


#mates img{
    max-width: 30vw;
    height: 30vw;
    border-radius: 100%;
}
@media  (max-width: 768px) {
    *{ max-width: 100%; }
    #mates img {
        width: auto;
        height: auto;
    }
}

#mates ul li a{
    display: grid;
    justify-items: center;
    align-items: center;
}

legend{
    color: #0000008C;
    opacity: 0.55;
    justify-self: start;
    font-size: 2em;
    align-self: center;
    justify-self: center;
}

#mates button {
    opacity: 0.4;
    background-color: blueviolet;
    border-color: blueviolet;
    color: white;
    cursor: pointer;
}

#next {
    position: relative;
    min-width: 20vw;
}

#prev {
    position: relative;
    min-width: 20vw;

}

.btns {
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 4vh;
}


@media (max-width: 767px) {
    #upload_avatar{
        width: 200px;
    }
    main {
        width: 100%;
        flex-direction: column;
        margin: 0;
        margin-top: 10vh;
        padding: 0;
        justify-items: center;
        align-items: center;
    }
    .avat{
        display: grid;
        align-items: center;
        justify-items: center;
    }
    main .menu{
        width: 100%;
        align-self: center;
        justify-self: center;
    }
    
    main .settings{
        width: 100%;
        margin-left: 0;
    }
    #mates img{
        max-width: 40vw;
        height: 40vw;
        border-radius: 100%;
    }
}