*{
    margin: 0;
    padding: 0;
    
}

header{
    width: 100%;
    /* height: 5vh; */
    left: 0px;
    background: #C0A2E1;
    top: 0px;
}

body{
    background: #6ECA4254;
    background-color: 33%;
}
main ol li a{
    left: 0%;
    right: 11.11%;
    top: 4.17%;
    bottom: 12.5%;
    background: #C0A2E1;
    border-radius: 30px;
    width: 25vh;
    height: 15vh;
    box-shadow:  8px -8px 10px #e2c8fe,
                    8px -8px 10px #C0A2E1;
}

/* main ol li a a{
    position: absolute;
left: 3.7%;
right: 7.41%;
top: 0%;
bottom: 16.67%;
background: rgba(192, 162, 225, 0.4);
border-radius: 30px;
width: 180px;
    height: 140px;
} */

header{
    justify-self: flex-end;
    height: 5vh;
    display: grid;
}

header .container-menu{
    align-self: center;
    justify-self: flex-end;  
    z-index: 10;
}
header button img{
    width: 3vh;
    height: 3vh;
}

main{
    display: grid;
}

main #search{
    padding: 3vw;
    align-self: center;
    height: 20%;
    justify-self: center;
    z-index: 1000;
}

main #search input{
    width: 60vw;
    height: 2vh;
    border-radius: 10px;
    border: 1px solid lightgray;
    transition: all 300ms ;
    padding: 1vh;
    font-size: 20px;
    background: rgb(239, 239, 239);
}

main #cell_group{
    margin-top: 2%;
    width: 100%;
}

main ol {
    list-style: none;
}

main #cell_group ol{
    display: flex;
    /* grid-template-areas: "first second third"
    "fourth fifth sixth"; */
    flex-wrap: wrap;
    gap: 10%;
    /* justify-content: start;
    align-items: flex-start; */
    margin-left: 10%;
}

main ol li {
    display: grid;
    grid-template-areas: "img"
    "legend";
    max-width: 15vh;
    max-height: 25vh;
    margin: 5%;
}
/* main ol li a{
    height: 15vh;
    border-radius: 26px;
    background: #C0A2E1;
    box-shadow:  13px -13px 26px #C0A2E1,
             -13px 13px 26px #C0A2E1;
             opacity: 0.5;

} */

main ol li legend{
    justify-self: center;
    font-size: 3vh;
    color: #464343;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main #first{
    grid-area: first;
}
main ol li legend{
    grid-area: legend;
}
main ol li img{
    grid-area: img;
}
main #second{
    grid-area: second;
}
main #third{
    grid-area: third;
}
main #fourth{
    grid-area: fourth;
}
main #fifth{
    grid-area: fifth;
}
main #sixth{
    grid-area: sixth;
}

main li:hover {
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@keyframes scale-up-center {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.2);
        color: blueviolet;     
    }
  }

  main #cell_group {
	animation: cell 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes cell {
    0% {
        transform: translateY(-600px) rotateX(-30deg) scale(0);
        transform-origin: 50% 100%;
        opacity: 0;
      }
      100% {
        transform: translateY(0) rotateX(0) scale(1);
        transform-origin: 50% 1400px;
      }
  }
  
.links{
    display: flex;
    list-style-type: none;
    gap: 3%;
}

.copyright{
    margin-left: auto;
    align-self: center;
    text-align: end;
}
.logo_links{
    display: grid;
    grid-template-rows: auto auto;
    align-self: center;
}
footer{
    grid-area: footer;
    /* background-color: aqua; */
    margin: 3%;
    display: flex;
    align-self: flex-end;
    text-decoration-style: none;
    font-size: 14px;
    margin-top: 10%;
}
footer article img {
    width: 6vh;
    height: auto;
    border-radius: 2vh;
}
#Logo-BerryShade{
    width: 9vh;
    opacity: 0.7;
}


#logo-site{
    max-width: 20vh;
    border-radius: 20%;
}

 

#tg, #vk{
    position: relative;
}



#tg:hover, #vk:hover{
    animation-name: icons;
    animation-duration: 2s;
    animation-fill-mode: forwards; 
    /* animation-iteration-count: 2; 
    animation-timing-function: ease-in;*/
}

@keyframes icons{
    0%{
        /*background-color: rgb(119, 119, 255);*/
        transform: scale(1);
        top: 0px;
    }
    50%{
        /*background-color: #73f7f7;*/
        transform: scale(0.9);
        top: 2px;
        opacity: 0.5;
    }
    100%{
        /*background-color: rgb(211, 253, 114);*/
        transform: scale(1.2);
        top: 1px;
    }
}


#form{
    animation-name: form;
    animation-duration: 3s;
    position: relative;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

@keyframes form{
    0%{
        /*left:3em;*/
        opacity: 0.4;
    }
    
    50%{
        /*left:2em;*/
        transform: scale(1.5);
        opacity: 0.7;
    }
    /*70% {
        top: 0.1em;
        opacity: 0.1;
        transform: scale(0.7);
    }*/
    100% {
        left: 0em;
        transform: scale(1);
        opacity: 1;
    }
}



#footer{
    animation-name: footer;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    position: -webkit-sticky;
}

@keyframes footer {
    0%{
        opacity: 0.5;
        bottom: 2em;
    }
    50%{
        opacity: 0.7;
        bottom: 1em;
    }
    100%{
        opacity: 1;
        bottom: 0em;
    }
} 

/* @media (max-width:900px) {
    main #cell_group{
        height: 600px;
        margin-left: 20px;
    }
    main #cell_group ol{
        grid-template-areas:"first second"
        "third fourth"
        "fifth sixth";
        margin-top: 25%;
    }
    main{
    grid-template-rows: 10% 60%;
    }
    footer{
        /* background-color: aqua; 
        margin: 3%;
        display: flex;
        align-self: flex-end;
        text-decoration-style: none;
        font-size: 14px;
        margin-top: 30%;
    }
} */

@media (max-width:600px) {
    
    main #cell_group ol{
        flex-direction: column;
    }
    footer{
        /*background-color: aqua;   */
        margin-top: 30%;
    } 
   
}



.container-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu {
    position:relative;
    background: #C0A2E1;
    cursor: pointer;
    border: none;
    margin-right: 8vh;
    align-self: center;
}

.menu {
    position: absolute;
    cursor: pointer;
    list-style: none;
    display: grid;
    top: 7vh;
    right: 2vh;
    gap: 3vh;
    justify-content: center;
    text-align: center;
    align-self: center;
    color: #C0A2E1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menu li a{
    text-decoration: none;
    color: #ab5dff;
}



.menu li:hover{
    border: 2px solid #C0A2E1;
    background-color: yellowgreen;
}

.hide{
    display: none;
}

@media (max-width: 600px) {
    main #cell_group{
        align-items: center;
        justify-self: center;
    }    
    main #cell_group ol{
        margin: 0;
        align-items: center;
        justify-self: center;
    } 
    main #cell_group ol li{
        margin-left: -10%;
        align-items: center;
        justify-self: center;
    } 
}

/* menu */

.menu-icon{
    width: 35px;
    height: 25px;
    margin: 10px 10px;
    position: relative;
    cursor: pointer;
    display: inline-block;
  }
  .menu-icon span{
    background-color:#fff;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
  }
  .menu-icon span:nth-child(1){
    top:0px;
    left: 0px;
  }
  .menu-icon span:nth-child(2){
    top: 10.5px;
    left: 0px;
  }
  .menu-icon span:nth-child(3){
    bottom:0px;
    left: 0px;
  }
  .menu-icon:not(.open):hover span:nth-child(1){
    transform:  scaleY(1.2);
    left: -5px;
  }
  .menu-icon:not(.open):hover span:nth-child(2){
    transform: rotate(5deg) scaleY(1.1);
  }
  .menu-icon:not(.open):hover span:nth-child(3){
    transform:  scaleY(1.2);
    left: 5px;
  }
  .menu-icon.open span:nth-child(1){
    transform: rotate(45deg) scaleX(0.7);
    top: 13px;
    left: -8px;
  }
  .menu-icon.open span:nth-child(2){
    transform: scale(0);
    transition-duration: 50ms
  }
  .menu-icon.open span:nth-child(3){
    transform: rotate(-45deg) scaleX(0.7);
    top: 13px;
    left: 7px;
  }